<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <% if (userData.nombre) { %>
    <form action="/login/sign-out" method="get">
      <input type="submit" value="cerrar sesión" />
    </form>
    <% } %>

    <nav>
      <h1><%= userData.nombre %> <%= userData.apellido %></h1>
      <h1><%= userData.email %></h1>
    </nav>

    <div class="box">
      <div class="logo"><img src="images/Logo.png" alt="" /></div>

      <div class="box2">
        <div id="logButton">
          <a href="login">Login</a>
        </div>
        <div id="regButton">
          <a href="register">Register</a>
        </div>
        <a>Continue as a guest</a>
      </div>
    </div>
  </body>
</html>
