@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

a {
  text-decoration: none;
  color: unset;
}

.box {
  text-align: center;
}

.box1{
  margin-bottom: 15vh;
}

#logButton {
  background: #040463;
  height: 3vh;
  width: 96vw;
  margin-bottom: 3%;
}

#logButton > a {
  color: #ffffff;
  border-radius: 50% 50% 0 0;
  font-family: inter;
}

#regButton {
  background: #efeef6;
  margin-bottom: 4%;
}

#regButton > a {
  color: #040463;
  font-family: inter;
}
